@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive&family=Kumbh+Sans:wght@200;400;700&family=Mohave&family=Mukta:wght@300&family=PT+Serif&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kumbh Sans;
}

:root {
  --backgroundHeader: #f9f9f9;
  --scrollBar: #eae6e6;
}

body {
  background: linear-gradient(#8c9cd6, #c6cff9, #fff);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  font-size: 1.3rem;
}

::selection {
  color: pink;
  background-color: rgb(33, 33, 33);
}

#root {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollBar);
}

.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  transition: all 0.5s;
}

.light {
  color: hsl(207, 26%, 17%);
  background-color: hsl(0, 0%, 100%);
  transition: all 0.5s;
}
